#cmdWindow{
  width:700px;
  height:500px;
  background-color:black;
  color:white;
  font-family: "Courier New", Courier, monospace;
  text-indent:15px;
}
#stats{
width:700px;
height:30px;
background-color:black;
    color:white;
  font-family: "Courier New", Courier, monospace;
}
